Workflows/soundsensor
[{"id":"af059b14.8a9648","type":"tab","label":"Sound Sensor","disabled":false,"info":""},{"id":"c84b9acd.8ab318","type":"ui_gauge","z":"af059b14.8a9648","name":"","group":"761f2ad1.0e7974","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor Value","label":"units","format":"{{value}}","min":"0","max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"250","seg2":"500","x":350,"y":360,"wires":[]},{"id":"96ec079d.3362b8","type":"ui_chart","z":"af059b14.8a9648","name":"","group":"761f2ad1.0e7974","order":0,"width":"9","height":"3","label":"Rolling Average (1Hr)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Checking Data........","dot":false,"ymin":"0","ymax":"600","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#0080c0","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":520,"wires":[[],[]],"outputLabels":["","234"]},{"id":"7113d5b3.4c7ebc","type":"function","z":"af059b14.8a9648","name":"Ubidots Sound","func":"\n// Ubidots HTTP request\n\nvar token = \"A1E-GTuoPFw3zgAlqaSw8oLLOrS2UzFi6F\";\nvar device_api_label = \"iot_project\";\nvar variable_api_label = \"sensordata\";\n\nmsg.url = \"http://things.ubidots.com/api/v1.6/devices/\" + device_api_label + \"/\" + variable_api_label + \"/values?token=\" + token;\nmsg.method = \"POST\";\n\nvar value = msg.payload;\n\nmsg.payload= {\"value\": value};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["b79ad65b.9c5d88"]]},{"id":"b79ad65b.9c5d88","type":"http request","z":"af059b14.8a9648","name":"","method":"use","ret":"txt","url":"","tls":"","x":770,"y":140,"wires":[[]]},{"id":"5a2f63cd.79f0cc","type":"mqtt in","z":"af059b14.8a9648","name":"","topic":"node/generic-node:0/soundsensor/0:1/sound","qos":"2","broker":"88fb9472.e83798","x":230,"y":140,"wires":[["7113d5b3.4c7ebc"]]},{"id":"247b4c0b.1c3a14","type":"switch","z":"af059b14.8a9648","name":"AlertLogic","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"500","vt":"num"},{"t":"gt","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":220,"wires":[["7113d5b3.4c7ebc"],["5d0ad1fc.b09a2","2cf9358e.7fb1aa"]]},{"id":"5d0ad1fc.b09a2","type":"change","z":"af059b14.8a9648","name":"Detected Movement","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["f3424aa9.090278","22f2dd2c.385f12"]],"outputLabels":["1"]},{"id":"f3424aa9.090278","type":"function","z":"af059b14.8a9648","name":"Take Picture","func":"// We only want to take pictures when \n// the button is pressed, not when it is released. \nif (msg.payload == 1) { \n    var encoding = \"png\"; \n    var currTime = new Date().getTime();\n\n    // Use the current timestamp to ensure\n    // the picture filename is unique.\n    var fileName = \"/\" + currTime + \".png\";\n    var pictureFilename = \"/home/pi/Desktop/IoT Project/Pictures/\" + currTime + \".\" + encoding;\n    var opts = {\n        mode: \"photo\",\n        encoding: encoding,\n        quality: 10,\n        width: 500,\n        height: 300,\n        rotation: 180,\n        output: pictureFilename,\n        timeout: 1};\n\n    // Use the global RaspiCam to create a camera object.\n    var camera = new context.global.RaspiCam( opts ); \n\n    // Take a picture\n    var process_id = camera.start( opts ); \n\n    // Send the file name to the next node as a payload.\n    msg.payload= (fileName);\nreturn msg;\n}","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["84db52d5.dcdbf"]],"outputLabels":["True"]},{"id":"22f2dd2c.385f12","type":"trigger","z":"af059b14.8a9648","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"Flash LED","x":810,"y":480,"wires":[["3987ca4f.e95066"]]},{"id":"84db52d5.dcdbf","type":"delay","z":"af059b14.8a9648","name":"PictureDelay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":950,"y":300,"wires":[["63bdfd65.4242f4","466b9923.5ed398","a9836294.ed41d"]]},{"id":"3987ca4f.e95066","type":"switch","z":"af059b14.8a9648","name":"LED_Switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":true,"outputs":2,"x":990,"y":480,"wires":[["c9aace26.9e41c"],["f396a921.fb9cb8"]]},{"id":"63bdfd65.4242f4","type":"ui_template","z":"af059b14.8a9648","group":"bc55968a.a00ed8","name":"Sound Display","order":4,"width":"10","height":"6","format":"<div style>\n <img src={{msg.payload}} id='photo' width='auto' height='auto' alt='Getting Image'>\n</div>\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1180,"y":300,"wires":[[]]},{"id":"c9aace26.9e41c","type":"trigger","z":"af059b14.8a9648","op1":"true","op2":"","op1type":"bool","op2type":"nul","duration":"2","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1170,"y":440,"wires":[["7ce4251c.4094bc"]]},{"id":"f396a921.fb9cb8","type":"trigger","z":"af059b14.8a9648","op1":"true","op2":"","op1type":"bool","op2type":"nul","duration":"2","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1170,"y":520,"wires":[["7ee961e4.8fad2"]]},{"id":"7ce4251c.4094bc","type":"python-function","z":"af059b14.8a9648","name":"Blue LED On","func":"import grovepi\n\n# Connect the blue LED to digital port D3\nblueLED = 3\ngrovepi.pinMode(blueLED,\"OUTPUT\")\ngrovepi.digitalWrite(blueLED,1)\t#Send a value to switch on or off the LED\nreturn \"On\"","outputs":1,"x":1352,"y":440,"wires":[[]]},{"id":"7ee961e4.8fad2","type":"python-function","z":"af059b14.8a9648","name":"Blue LED Off","func":"import grovepi\n\n# Connect the blue LED to digital port D3\nblueLED = 3\ngrovepi.pinMode(blueLED,\"OUTPUT\")\ngrovepi.digitalWrite(blueLED,0)\t#Send a value to switch on or off the LED\nreturn (\"Off\")","outputs":1,"x":1352,"y":520,"wires":[[]]},{"id":"857a344.808c7c8","type":"grove analog sensor","z":"af059b14.8a9648","name":"Sound Sensor","pin":"1","sensor":"sound","repeat":"0.5","board":"570df5a0.15312c","x":90,"y":220,"wires":[["247b4c0b.1c3a14","c84b9acd.8ab318","b2f14bc4.ea9718","9bee22a.d9082e"]]},{"id":"466b9923.5ed398","type":"e-mail","z":"af059b14.8a9648","server":"smtp.gmail.com","port":"465","secure":true,"name":"iotrasp141@gmail.com","dname":"SendMail Alert","x":1180,"y":360,"wires":[]},{"id":"e91ea1c.8453e6","type":"ui_chart","z":"af059b14.8a9648","name":"","group":"761f2ad1.0e7974","order":0,"width":"9","height":"3","label":"Rolling Average (1 Day)","chartType":"line","legend":"false","xformat":"Y-M-D","interpolate":"linear","nodata":"Checking Data........","dot":false,"ymin":"0","ymax":"600","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#0080c0","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":580,"wires":[[],[]],"outputLabels":["","234"]},{"id":"b2f14bc4.ea9718","type":"smooth","z":"af059b14.8a9648","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","x":340,"y":420,"wires":[["96ec079d.3362b8","e91ea1c.8453e6"]]},{"id":"a9836294.ed41d","type":"python-function","z":"af059b14.8a9648","name":"set_LCDText","func":"import grovepi\nimport grove_rgb_lcd\n\n# Ultrasonic Ranger port D8\nultrasonic_ranger = 8\n\n#Sound Sensor port A1\nsound_sensor = 1\n\n#Set the pin mode to be used by the sounnd sensor\ngrovepi.pinMode(sound_sensor,\"INPUT\")\n\n#Take a reading from the ranger\nlcdSonic = (grovepi.ultrasonicRead(ultrasonic_ranger))\n\n#Take a reading from the sound sensor\nlcdSound = (grovepi.analogRead(sound_sensor))\n\n#Set the color and text of the RGB LCD screen\ngrove_rgb_lcd.setText(\"Ranger: \" + str(lcdSonic) + \"      \" + \"Sound: \" + str(lcdSound))\ngrove_rgb_lcd.setRGBrgb(255,225,95)\n\nreturn \"Ultrasonic: \" + str(lcdSonic) + \"Sound Sensor: \" + str(lcdSound)\n","outputs":1,"x":1170,"y":240,"wires":[[]]},{"id":"9bee22a.d9082e","type":"trigger","z":"af059b14.8a9648","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"0","extend":false,"units":"s","reset":"","bytopic":"all","name":"Flash LED","x":350,"y":658,"wires":[["d754101e.3ca55"]]},{"id":"d754101e.3ca55","type":"python-function","z":"af059b14.8a9648","name":"Green LED (System Online)","func":"import grovepi\n\n# Connect the green LED to digital port D3\ngreenLED = 4\npinMode(greenLED,\"OUTPUT\")\ndigitalWrite(greenLED,enable)\t#Send a value to switch on or off the LED\n    \nreturn \"On\"","outputs":1,"x":600,"y":658,"wires":[[]]},{"id":"2cf9358e.7fb1aa","type":"function","z":"af059b14.8a9648","name":"Ubidots Alert","func":"\n// Ubidots HTTP request\n\nvar token = \"A1E-GTuoPFw3zgAlqaSw8oLLOrS2UzFi6F\";\nvar device_api_label = \"iot_project\";\nvar variable_api_label = \"sound-alerts\";\n\nmsg.url = \"http://things.ubidots.com/api/v1.6/devices/\" + device_api_label + \"/\" + variable_api_label + \"/values?token=\" + token;\nmsg.method = \"POST\";\n\nvar value = msg.payload;\n\nmsg.payload= {\"value\": value};\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["beff0ba4.480f68"]]},{"id":"beff0ba4.480f68","type":"http request","z":"af059b14.8a9648","name":"","method":"use","ret":"txt","url":"","tls":"","x":770,"y":220,"wires":[[]]},{"id":"761f2ad1.0e7974","type":"ui_group","z":"","name":"Sound Detection","tab":"c2388fac.3adc9","order":2,"disp":true,"width":"9","collapse":false},{"id":"88fb9472.e83798","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bc55968a.a00ed8","type":"ui_group","z":"","name":"Last Pictures Taken","tab":"c2388fac.3adc9","order":4,"disp":true,"width":"10","collapse":false},{"id":"570df5a0.15312c","type":"board-config","z":"","board":"GrovePi v1.2.3"},{"id":"c2388fac.3adc9","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1}]